.NavBar {
  button.nav-link {
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
  }

  .nav-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    margin: 0 0.25rem;
    max-width: 180px;
    img {
      width: 100%;
      max-width: 35px;
      border-radius: 100%;
      margin-right: 8px;
    }
    span {
      max-width: 113px;
      line-height: 35px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    img, span {
      vertical-align: middle;
    }
  }

  .nav-link:hover,
  .nav-link.active {
    background-color: rgba(255,255,255,0.25);
  }
}