.NavBar {
  button.nav-link {
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
  }

  .nav-link {
    margin: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.75rem;
  }

  .nav-link:hover,
  .nav-link.active {
    background-color: rgba(255,255,255,0.25);
  }
}