@import './styles/colors';

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: $background-color;
  font-family: Helvetica, Arial, sans-serif;
}

.MainContent {
  padding: 1.5rem;
}

input, select {
  position: relative;
  width: 100%;
  border: 1px solid #ececec;
  border-radius: 0.35rem;
  padding: 1rem;
  outline: none;
  transition: all 150ms ease;
}
input:focus, select:focus {
  border: 1.5px solid $accent-color;
}

label {
  position: relative;
  color: #989898;
}

button[type="submit"] {
  color: white;
  background-color: $secondary-color;
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.35rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

button[type="submit"]:hover, 
button[type="submit"]:focus {
  opacity: 0.75;
}

a:link, a:visited {
  color: $secondary-color;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .MainContent {
    margin: 0 auto;
    max-width: 768px;
  }
}